.post-list {
  &__item {
    display: flex;
    flex-direction: column;
    padding: 2vw;
  }

  &__link {
    &,
    &:visited {
      color: var(--color-theme-primary);
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.post-list-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
