.post-list {
  background-color: var(--color-slate);
  &__item {
    display: flex;
    flex-direction: column;
    margin: 2vw;
    background-color: var(--color-dark);
    box-sizing: border-box;
    width: 20vw;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0;
  }

  &__link {
    &,
    &:visited {
      color: var(--color-theme-primary);
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.post-list-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--color-slate);
  padding: 2vw;
}

.thumbnail{
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.post-info{
  padding: 12px;
}

@media(max-width: 450px){
  .post-list-cards{
    flex-direction: column;
    align-items: center;
  }
  .post-list {
    &__item {
      width: 80vw;
      margin: 16px;
    }}
}
