.site-head {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
  align-items: center;
  width: 100%;
  background-color: var(--color-bg);
  margin-bottom: 2rem;
  &__site-name {
    font-weight: 700;
    text-decoration: none;
    color: var(--color-text);
  }
  z-index: 999;
}
