<header class="[ intro ] [ pad-top-900 pad-bottom-max ]">
  <div class="[inner-wrapper]">
    <div style="padding:56.25% 0 0 0;position:relative; z-index:0">
      <iframe src="https://player.vimeo.com/video/420413224?autoplay=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="allowfullscreen"></iframe>
    </div>
    <script src="https://player.vimeo.com/api/player.js"></script>
  </div>
  <div class="features">
    <div class="feat">
      <img src="/images/Software Icon.svg" class="img-center" width="55.38px"/>
      <p class="ta-center">Compatible with Windows & Mac</p>
    </div>
    <div class="feat">
      <img src="/images/PLugin Icon.svg" class="img-center" width="55.38px"/>
      <p class="ta-center">Install FilterPixel as a plug-in or an app</p>
    </div>
    <div class="feat">
      <img src="/images/Brain Learning Icon.svg" class="img-center" width="55.38px"/>
      <p class="ta-center">90% faster results in one-click</p>
    </div>
  </div>
</header>