{% if postListItems.length %}
  <section class="[ post-list ] [ pad-top-700 pad-bottom-900 ]">
    <div class=" [ steps ]">
      <h2 class="[ post-list__heading ] [ ta-center text-600 md:text-600 ]">{{ postListHeading }}</h2>
      <ol class="[ post-list-cards ] [ sf-flow ] [ pad-top-300 ]" reversed="reversed">
        {% for item in postListItems %}
          {% if item  
            .date
            .getTime() <= global
            .now
            and loop.index <=4 
            %}
            <li class="post-list__item">
              <img class="thumbnail" src="{{item.data.cover_image}}">
              <div class="post-info">
                <h3 class="font-base leading-tight text-600 weight-mid">
                  <a href="{{ item.url }}" class="post-list__link" rel="bookmark">{{ item.data.title }}</a>
                </h3>
                <p class="text-300 gap-top-300">
                  <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
                </p>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
  </section>
{% endif %}