{% import "partials/components/step.njk" as steps %}

<div class="steps">
    {{ steps.step("Import", "Import files into FilterPixel or into our Lightroom plug-in", "FilterPixel is available as an app and a plug-in for Lightroom, meaning you can implement powerful AI tools directly into your existing workflow.", "/images/Import Image.png", auxCls="p-10")}}
    {{ steps.step("Automate", "Cull your photos, so you can focus on the art", "Using Artificial Intelligence, FilterPixel culls your files to identify your best photos, by culling through hundreds of photos in minutes.", "/images/Automate.png", "flip", auxCls="p-10")}}
    {{ steps.step("Refine", "Continue fine-tuning your results, or jump into editing", "Using Artificial Intelligence, FilterPixel culls your files to identify your best photos, by culling through hundreds of photos in minutes.
", "/images/Import Image.png", auxCls="p-10")}}
</div>