.wrapper {
  max-width: map-get($metrics, 'wrap-max-width');
  margin-left: auto;
  margin-right: auto;
  padding-left: get-size(500);
  padding-right: get-size(500);
}

.wrapper-100 {
  width: 100%;
}

.steps{
  padding-top: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: var(--color-slate);
}

.step{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2vw;
  padding-left: 2vw;
}

.flip{
  flex-direction: row-reverse;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 5vw;
}

.wrapper-0 {
  margin: 0px !important;
}

.features {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-dark);
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: 5vh;
}

.mtop {
  margin-top: 5vh;
  padding-top: 5vh;
}

.pl{
  padding-left: 2vw;
}

.pr{
  padding-right: 2vw;
}

.w-200{
  width: 200px;
}

.mt-20{
  margin-top: 20px !important;
}

.bg-slate{
  background-color: var(--color-slate);
}

.feat {
  display: flex !important; 
  flex-direction: column !important;
  justify-content: space-between;
}

.img-center {
  align-self: center;
}

@media (max-width: 768px) {
  .features{
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .feat{
    padding: 2vw;
  }
}

@media (max-width: 450px) {
  .pl{
    padding-left: 0;
  }
  .pr{
    padding-right: 0;
  }
  .features{
    flex-direction: column;
  }
  .step{
    flex-direction: column;
    padding-bottom: 12vh;
  }
  .info{
    padding-bottom: 8vh;
  }
  .flip{
    flex-direction: column;
  }
  .feat{
    padding: 12vw;
  }
}