{% extends 'layouts/base.njk' %}
{% from "macros/form.njk" import label,
field,
textarea,
radios,
button %}

{% block content %}
    <main id="main-content" tabindex="-1">
        <div class="mtop bg-slate pl pr">
            <div class="steps p-10">
                <div class="step">
                    <div class="info">
                        <div>
                            {# <form name="contact" method="POST" data-netlify="true" action="/thank-you" netlify-honeypot="bot-field">
                                <ol class="[ field-list ]">
                                    <li class="[ field-list__field-group ]">
                                        {{ label("Name", "name") }}
                                        {{ field( "text", "name", { required: true, placeholder: "Katherine Johnson", autocomplete: "name", autocorrect: "off", autocapitalize: "off" } ) }}
                                    </li>
                                    <li class="[ field-list__field-group ]">
                                        {{ label("E-mail Address", "email") }}
                                        {{ field( "email", "email", { required: true, placeholder: "katherine@johnson.tld", autocomplete: "email" } ) }}
                                    </li>
                                    <li class="[ field-list__field-group ]">
                                        {{ label("Which Operating System do you primarily use?", "os") }}
                                        {{ radios( "", "os", ['MacOS', 'Windows'], {  } ) }}
                                    </li>
                                    <li class="[ field-list__field-group ]">
                                        {{ label("Are you a Lightroom user?", "lr-user") }}
                                        {{ radios( "", "lr-user", ['Yes', 'No'], {  } ) }}
                                    </li>
                                    <li hidden="hidden">
                                        <label>Don’t fill this out if you're human:
                                            <input name="bot-field"/></label>
                                    </li>
                                </ol>
                                {{ button("Submit") }}
                            </form> #}
                            <object class="form-obj"  data="https://cdn.forms-content.sg-form.com/2a3e0dc7-0408-11eb-b526-b2f60848b9dd">
                            </object>
                        </div>
                    </div>
                    <div>
                        <img src="/images/best.png">
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}